.books {
    display: flex;
    justify-content: center;
}

.book {
    width: 320px;
    box-shadow: 0px 1px 15px -2px #000000;
    background: #f2f0f0;
}

.book-img {
    width: 200px;
    height: 260px;
}

.details-book-img {
    width: 380px;
    height: 500px;
}


.title-link {
    text-decoration: none;
    color: black;
    transition: 0.3s ease-out;
}

.details-book {
    width: 70vw;
    box-shadow: 0px 1px 15px -2px #000000;
    background: #f2f0f0;
}

#wishlist-btn,
#wishlist-btn-selected {
    font-size: 2rem;
    color: rgb(195, 50, 50);
    transition: 0.5s ease-out;
}

#wishlist-btn:hover {
    color: red;
}

#wishlist-btn-selected {
    color: red;
}

#wishlist-remove-btn {
    font-size: 1rem;
    color: #0d6efd;
    transition: 0.5s ease-out;
}

#wishlist-remove-btn-wrapper:hover #wishlist-remove-btn {
    color: white;
}

.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: left;
}

.rating > span {
    display: inline-block;
    position: relative;
    width: 1.1em;
}

.rating > .rating-star:hover:before,
.rating > .rating-star:hover ~ .rating-star:before {
    content: "\2605";
    position: absolute;
    color: #ffb400;
}

.rating-star {
    font-size: 1.35rem;
    color: #ffb400;
}

.rating-star-disabled {
    font-size: 1.35rem;
    color: #ffb400;
}

.rating-star-empty-disabled {
    margin: 0 1px;
    font-size: 1.35rem;
    color: rgba(173, 173, 173, 0.859);
}

.rating-star-empty {
    margin: 0 1px;
    font-size: 1.35rem;
    color: rgba(173, 173, 173, 0.859);
}

.user-rating {
    font-size: 0.9rem;
    margin-top: 3px;
}

@media all and (max-width: 1024px) {
    .details-book {
        flex-direction: column;
        margin-bottom: 5em;
    }

    .details-book-img {
        margin-top: 2em;
    }
}