.books {
    display: flex;
    justify-content: center;
}

.book {
    width: 320px;
    box-shadow: 0px 1px 15px -2px #000000;
    background: #f2f0f0;
}

.book-img {
    width: 200px;
    height: 260px;
}

.details-book-img {
    width: 380px;
    height: 500px;
}


.title-link {
    text-decoration: none;
    color: black;
    transition: 0.3s ease-out;
}

.details-book {
    width: 70vw;
    box-shadow: 0px 1px 15px -2px #000000;
    background: #f2f0f0;
}

@media all and (max-width: 1024px) {
    .details-book {
        flex-direction: column;
        margin-bottom: 5em;
    }

    .details-book-img {
        margin-top: 2em;
    }
}