.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: left;
}

.rating > span {
    display: inline-block;
    position: relative;
    width: 1.1em;
}

.rating > .rating-star:hover:before,
.rating > .rating-star:hover ~ .rating-star:before {
    content: "\2605";
    position: absolute;
    color: #ffb400;
}

.rating-star {
    font-size: 1.35rem;
    color: #ffb400;
}

.rating-star-disabled {
    font-size: 1.35rem;
    color: #ffb400;
}

.rating-star-empty-disabled {
    margin: 0 1px;
    font-size: 1.35rem;
    color: rgba(173, 173, 173, 0.859);
}

.rating-star-empty {
    margin: 0 1px;
    font-size: 1.35rem;
    color: rgba(173, 173, 173, 0.859);
}

.user-rating {
    font-size: 0.9rem;
    margin-top: 3px;
}